* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color :rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.fieldset {
  background-color: #ffffff;
  max-width:400px;
  padding:16px;

  
}

.legend {
  color: rgb(0, 0, 0);
}

.fieldset-todo {
  background-color: #ffffff;
  max-width:400px;
  padding:6px;	

  
}


.todo-list{
  background-color: #ffffff;

  }

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #ffffff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todo-button {
  padding: 12px 20px;
  border: none;
  border-radius:4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(106, 202, 209) 0%,
    rgb(100, 150, 200) 100%
  );
  color: #fff;
float: right;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-name {
  
  margin-top: 5px;
  float : left;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(157, 179, 60) 100%;
  padding: 0px;
  width: 320px;
  background: transparent;
  color: rgb(0, 0, 0);
}

.todo-description {
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(0, 0, 0) 100%;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(0, 0, 0);
  margin-top : 10px;
  float: left;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}
